.headerContainer {
    display: flex;
    margin-bottom: 0;
}

#headerOne {
    text-align: center;
    flex-grow: 8;
    font-size: 100%;
}

.filler {
    width: 50px;
    width: 50px;
    flex-grow: 1;
}

#instaIcon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.button {
    border: none;
    color: white
}

hr {
    margin-top: 0;
}

.flex-container-1 {
    font-size: 150%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.box1:hover {
    font-size: 150%;
}

.box2:hover {
    font-size: 150%
}

.box3:hover {
    font-size: 150%
}

.box4:hover {
    font-size: 150%
}

#nilsbd {
    display: block;
    height: 75px;
    width: 75px; 
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

body {
    background-image: url("forest.jpg");
    background-size: 1300px 650px;
}

#courses {
    text-align: center;
    flex-grow: 8;
    font-size: 250%;
}

#schema {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 1080px;
}

.top {
    display: flex;
    margin-bottom: 0;
}

#home {
    border-style: solid;
    font-size: 150%;
    border-width: 2px;
    width: 0.5%;
    height: 1%;
    flex-grow: 0.5;
}

#Interests {
    text-align: center;
    flex-grow: 8;
    font-size: 250%;
    margin: 0;
}

#list {
    justify-content: flex-start;
    font-size: 250%;
    line-height: 2;
}

#tumme {
    justify-content: flex-end;
    width: 250px;
    height: 300px;
    padding: 100px;
    margin-left: 300px;
    margin-bottom: 250px;
}

#bild {
    display: flex;
}

#me {
    text-align: center;
    flex-grow: 8;
    font-size: 250%;
    margin: 0;  
}

#balle2 {
    display: block;
    width: 1250px;
    height: 500px;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
}

#school {
    text-align: center;
    flex-grow: 8;
    font-size: 250%;
    margin: 0;
}

#paragraph {
    text-align: center;
    font-size: 200%;
    color:white;
}



